<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Home page</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/register">Register</a>
      <a href="#">Edit user</a>
      <a href="#about">About</a>
    </div>

    <h1 style="text-align: center; margin-top: 20px">List user</h1>
    <table class="w3-table">
      <% for(var i=0; i < listUsers.length; i++) { %>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>City</th>
        <th>Action</th>
      </tr>
      <tr>
        <td><%= listUsers[i].email %></td>
        <td><%= listUsers[i].name %></td>
        <td><%= listUsers[i].city %></td>
        <td>
          <button>
            <a href="/edit-user/<%= listUsers[i].id %>">Edit</a>
          </button>
          <form method="POST" action="/edit-user/delete">
            <div style="display: none">
              <input
                type="text"
                value="<%= listUsers[i].id %>"
                name="id"
                id="id"
                required
              />
            </div>
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
